.recipeCard {
    padding: 20px;
    position: relative;
    width: 550px;
    height: 555px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #FFF;
    text-align: left;
    margin-right: 125px;
    margin-left: 125px;
}

.recipeCard:nth-child(1),
.recipeCard:nth-child(2) {
    grid-row: 1; /* Первый ряд */
}

.recipeCard:nth-child(3),
.recipeCard:nth-child(4) {
    grid-row: 2; /* Второй ряд */
}

.recipeCardTitle {
    color: #000;
    font-family: 'InterRegular';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 15px;
}

.description {
    position: absolute;
    left: 20px;
    width: 355px;
    color: #000;
    font-family: 'InterRegular';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.recipePhoto {
    position: absolute;
    top: 256px;
    right: -40px;
    height: 300px;
    flex-shrink: 0;

}

.seeRecipe {
    position: absolute;
    left: 15px;
    bottom: 15px;
    background-color: #FFF;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    color: #0C0C0E;
    text-align: center;
    font-family: 'InterRegular';
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}
